doctype html
html
  head
    title= NoYelp
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/fa/font-awesome.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    //Bootstrap theme
    link(rel='stylesheet' href='/stylesheets/freelancer.css')
    script(src='javascripts/freelancer.js')

    script(src='/js/jquery..min.js')
    script(src='/js/bootstrap.js')

  body(id="page-top" class="index")
    nav#mainNav.navbar.navbar-default.navbar-custom
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          img(src='/images/NoYelp.png' height=100 width=240)
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Accueil
            li
              a(href='/restaurants') Restaurants
            li
              a(href='/meals') Meals
    block content